# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.size-snapshot.json

# Dependency directories
node_modules/

# osx
**/.DS_Store

# sensitive configuration
**/*/.env

# temp config file
.husky/_

# builder cache
.cache
dist
.parcel-cache
*.zip
